@import "bootstrap/scss/_functions";
$font-family-sans-serif: "Gotham Pro", system-ui, -apple-system, "Segoe UI", "Liberation Sans", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Twemoji Mozilla", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
$primary: #70D24E;
$text-color: #2C323A;
$site-background: #2f2e2d;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 2048px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1980px
);


